.svn/
target/
.settings/
.classpath
.project
.properties
.myeclipse
.DS_Store*
*.iml
*.class
*.log
.idea/
src/test/java/eh/test/CollectionSort.java
**/env/local-env.properties
**/resources/spring-mq-local.xml
